/.idea
/doc
/.rvmrc
/.project
/spec/fixtures/modules/
/spec/fixtures/manifests/
.librarian
.tmp
/modules/
auth.conf
fileserver.conf
hieradata/common.yaml
manifests/nodes/maestro.acme.com.pp
puppet.conf
.vagrant
*.rpmnew
